:root {
    .gochi-hand-regular {
        font-family: "Gochi Hand", serif;
        font-weight: 400;
        font-style: normal;
        text-align: center;
        padding: 100px 0;
    }

    .hero {
        background-image: url('hero-image.png');
        background-size: cover;
        background-position: center;
        background-attachment: fixed;
        color: #ffffff;
        text-align: center;
        padding: 100px 0;
    }

    .angled-section {
        background: #a9445b;
        transform: skewY(-5deg);
        padding: 60px 0;
    }

    .angled-content {
        transform: skewY(5deg);
    }

    .registration {
        background: url('forest-bg.jpg') center/cover no-repeat;
        padding: 80px 20px;
        color: rgb(0, 0, 0);
        text-align: center;
    }

    .form-container {
        background: rgba(255, 255, 255, 0.8);
        padding: 20px;
        border-radius: 10px;
    }

    .navbar-brand img {
        height: 50px;
        width: auto;
    }

    .navbar-custom {
        background-color: #004F1C !important;
        /* Change this to your desired color */
    }

}